html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*general*/
a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

main {
  width: 80%;
  height: 100%;
  margin: auto;
}

/*header*/
.header {
  width: 75%;
  height: 700px;
  background-color: #fee1d9;
  border-radius: 30px;
  position: relative;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav "
    "title img"
    "title img"
    "search-form img"
    "search-form img";

  &__nav {
    width: 90%;
    display: flex;
    flex: row;
    justify-content: space-between;
    grid-area: nav;
    margin: 20px auto;

    label i {
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
    }

    &__logo {
      width: 130px;
      height: 80px;
      float: left;
    }

    &__menu {
      margin: 30px 0 auto auto;

      li {
        display: inline-block;
        margin: auto 15px;
        cursor: pointer;

        a {
          margin: auto;
          border-radius: 5px;
          font-size: 17px;
          padding: 7px 13px;
        }
        a.active,
        a:hover {
          color: white;
          transition: 0.5s;
          background-color: #fe5c4f;
          transition: 0.5s;
        }
      }
    }
  }

  &__title {
    grid-area: title;
    margin: auto auto 10px 100px;
    display: block;

    h1 {
      font-size: 3em;
      margin-bottom: 0;
    }

    p {
      font-size: 1.5em;
    }
  }

  &__search-form {
    margin: 0 auto auto 30px;
    grid-area: search-form;
    background-color: white;
    height: 200px;
    width: 450px;
    border: 1px black white;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
    justify-content: center;

    input {
      height: 50px;
      width: auto;
      background-color: #f9f8f7;
      margin: 20px auto auto 20px;
      border-radius: 15px;
      border: 1px #f9f8f7 solid;
    }

    &__hashtags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
      width: 70%;

      li {
        margin: auto 20px auto 0;
        font-weight: bold;
        color: grey;
        cursor: pointer;
      }
    }

    &__btn {
      height: 50px;
      width: 50px;
      float: right;
      background-color: #fe5c4f;
      border-radius: 15px;
      margin: auto;
      cursor: pointer;

      i {
        color: white;
        font-size: 1.5em;
      }
    }
  }

  &__img {
    width: 450px;
    height: 500px;
    border-radius: 15px;
    margin-right: 0;
    grid-area: img;
  }
}

/*presentation*/
.presentation {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;

  &__box {
    height: 210px;
    width: 200px;
    border-radius: 15px;
    background-color: #d7effb;
    display: inline-block;
    padding: 10px;
    line-height: 25px;

    p {
      font-weight: bold;
    }

    img {
      float: right;
      width: 100px;
      height: 100px;
    }
  }
}

/*services*/
.services {
  width: 80%;
  margin: 60px auto;
  text-align: center;

  &__title {
    text-align: center;
    margin: 0 auto 50px auto;
    font-size: 2.5em;
  }

  &__types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    margin: 0px auto;
    justify-content: center;

    &__box {
      background-color: #ffefee;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 300px;
      height: 100px;
      border-radius: 15px;
      text-align: center;
      margin: 20px 10px auto 10px;
      cursor: pointer;

      p {
        margin: auto 10px;
      }

      img {
        width: 100px;
        height: 90px;
        margin: auto 5px auto auto;
      }
    }
  }

  &__btn {
    margin: 50px auto;
    height: 60px;
    width: 200px;
    background-color: #fe5c4f;
    color: white;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
  }
}

/*agency*/
.agency {
  height: 800px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__title {
    margin: 10px auto;
    font-size: 2.5em;
  }

  &__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 750px;
    width: 90%;
    margin: 50px auto;
    background-color: #f9f8f7;

    &__img {
      border-radius: 20px;
      width: 590px;
      height: 590px;
      float: left;
    }

    &__links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 650px;

      &__field {
        width: 400px;
        height: 70px;
        background-color: white;
        flex-direction: row;
        cursor: pointer;
        border-radius: 15px;
        display: table;
        margin: 10px auto;

        p {
          display: table-cell;
          vertical-align: middle;
          margin-right: 5px;
          font-size: 1.2em;
        }

        div {
          display: table-cell;
          vertical-align: middle;
          i {
            color: #fe5c4f;
          }
        }
        &:hover {
          background-color: #fe5c4f;
          color: white;

          i {
            color: white;
          }
        }
      }
    }
  }
}

/*enquiry*/
.enquiry {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
  height: 500px;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 80%;
    float: left;
    background-color: green;

    &__title {
      text-align: left;
      margin: 150px auto 30px 100px;
      font-size: 2.5em;

      span {
        color: #fe5c4f;
      }
    }

    &__text {
      margin: auto auto 30px 100px;
    }

    &__btn {
      width: 250px;
      height: 60px;
      border-radius: 15px;
      cursor: pointer;
      margin: auto 100px;
      color: white;
      background-color: #fe5c4f;
      font-weight: bold;
    }
  }

  &__img {
    float: right;
    width: 400px;
  }
}

/*search-form*/
.search-form {
  width: 65%;
  background-color: #f9f8f7;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
  border-radius: 45px;

  &__title {
    margin: 50px auto;
    font-size: 2.5em;
  }

  &__input {
    width: 50%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__field {
      width: 200px;
      height: 50px;
      background-color: white;
      margin: auto;
      border: 1px #f9f8f7 solid;
    }

    &__btn {
      width: 50px;
      height: 50px;
      background-color: #fe5c4f;
      border-radius: 15px;
      margin: auto;

      i {
        color: white;
        font-size: 1.5em;
      }
    }
  }
}

/*agencies*/
.agencies {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;

  &__title {
    margin: 50px auto 50px;
    font-size: 2em;
  }

  &__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .paris {
      background: url("ressources/34297bc08c40c85386e6e0496e85e687");
      background-size: cover;
    }

    .lyon {
      background: url("ressources/5e95c4c7fb50ddfd271c54e63f565b4e");
      background-size: cover;
    }

    .nice {
      background: url("ressources/1c6c8e18f691900d46432c7a8d7ff68f");
      background-size: cover;
    }

    .caen {
      background: url("ressources/9290084f7791a15b4cc8248d1d7d4271");
      background-size: cover;
    }

    .grenobles {
      background: url("ressources/5ef938a3a3f2a397d4ddf8e03fcbc971");
      background-size: cover;
    }

    .rennes {
      background: url("ressources/20e80c1f06cae02c312e7fbbe207e7a8");
      background-size: cover;
    }

    &__card {
      height: 250px;
      width: 150px;
      border: 1px rgb(46, 38, 38) solid;
      border-radius: 15px;
      text-align: center;

      img {
        width: 150px;
        height: 250px;
        border-radius: 15px;
      }

      p {
        margin: 215px auto 10px auto;
        font-size: 1.25em;
        color: white;
        font-weight: bold;
      }
    }
  }
}

/*footer*/
.footer {
  background-color: #343434;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 400px;
  color: white;
  margin: auto;

  &__links {
    flex-direction: column;
    display: flex;
    width: 30%;

    &__logo {
      margin: 100px auto 0 80px;
      width: 220px;
      height: 80px;
    }

    &__adress {
      margin: 30px auto;
    }

    &__icons {
      width: 50%;
      margin: 30px auto;
      padding-right: 10px;

      .facebook i {
        color: blue;
        margin-right: 20px;
      }

      .instagram i {
        color: red;
        margin-right: 20px;
      }

      .linkedin i {
        color: white;
        margin-right: 20px;
      }
    }

    &__copyright {
      margin: 30px auto auto 100px;
    }
  }

  &__about,
  &__infos,
  &__search {
    width: 15%;
    margin: 50px auto;
    line-height: 40px;

    li {
      a {
        color: white;
      }
    }
  }
}

/*max-width 1024px*/
@media screen and (max-width: 1024px) {
  /*header*/
  .header {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__nav {
      &__menu {
        display: none;
      }
    }

    &__title {
      margin: auto;
      width: 100%;
    }

    &__search-form {
      margin: auto;
    }

    &__img {
      margin: 20px auto;
    }
  }

  /*presentation*/
  .presentation {
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }

  /*services*/
  .services {
    width: 100%;
  }

  /*agency*/
  .agency {
    width: 95%;
    height: 750px;

    &__card {
      width: 100%;

      &__img {
        width: 400px;
        height: 500px;
      }

      &__links {
        height: 550px;

        &__field {
          height: 60px;
          width: 350px;
        }
      }
    }
  }

  /*enquiry*/
  .enquiry {
    width: 95%;

    &__card {
      height: 300px;

      &__title {
        margin: 100px auto auto 50px;
      }

      &__text_ {
        margin: 30px auto auto 50px;
      }

      &__btn {
        margin: 30px auto auto 50px;
      }
    }
  }

  /*search-form*/
  .search-form {
    width: 90%;
    &__title {
      font-size: 2.2em;
    }

    &__input {
      width: 90%;
    }
  }

  /*agencies*/
  .agencies {
    width: 100%;
    margin: auto 0 auto 0;
    text-align: center;

    &__title {
      margin-bottom: 20px;
      font-size: 1.5em;
      width: 75%;
    }

    &__links {
      width: 80%;
      height: 600px;
      margin: auto;

      &__card {
        margin: auto 30px;
      }
    }
  }

  .footer {
    width: 100%;
    height: auto;
    flex-direction: column;

    &__links {
      flex-direction: column;
      text-align: center;
      width: 100%;
      height: auto;
      margin: 10px auto;

      &__logo,
      &__adress,
      &__icons,
      &__copyright {
        margin: auto;
      }
    }

    &__about,
    &__infos,
    &__search {
      margin: auto;
      width: 45%;
    }
  }
}

/*max-width 768px*/
@media screen and (max-width: 768px) {
  .presentation {
    &__box {
      margin: 10px auto;
    }
  }

  /*services*/
  .services {
    &__types {
      &__box {
        width: 250px;
      }
    }
  }
  /*agency*/
  .agency {
    height: auto;

    &__card {
      flex-direction: column;
      height: auto;

      &__img {
        margin: 20px auto;
      }
    }
  }

  /*enquiry*/
  .enquiry {
    flex-direction: column-reverse;
    height: auto;
    width: 70%;

    &__card {
      height: auto;
      float: none;
      margin: auto;
      text-align: center;
      width: 50%;

      &__title {
        margin: 30px auto;
        text-align: center;
      }

      &__text {
        margin-right: auto;
      }

      &__btn {
        margin: auto;
      }

      &__img {
        margin: 10px auto;
      }
    }
  }

  /*agencies*/
  .agencies {
    &__links {
      width: 100%;
      height: auto;

      &__card {
        margin: 10px;
      }
    }
  }
}

/*max-width 576px*/
@media screen and (max-width: 576px) {
  /*header*/

  main {
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 20px auto;

    &__nav {
      display: none;
    }

    &__title {
      width: 90%;
      margin-top: auto;
    }

    &__search-form {
      width: 300px;
      margin: auto;

      input {
        width: 120px;
      }

      &__hashtags {
        li {
          margin: auto 0;
        }
      }
    }

    &__img {
      width: 300px;
      height: 450px;
      margin: 20px auto;
    }
  }

  /*agency*/
  .agency {
    margin: auto;
    &__card {
      &__img {
        width: 300px;
        height: 410px;
      }

      &__links {
        &__field {
          width: 300px;
        }
      }
    }
  }

  /*enquiry*/
  .enquiry {
    &__img {
      float: none;
      margin: auto;
      width: 300px;
    }
  }

  /*search-form*/
  .search-form {
    &__input {
      &__field {
        width: 100px;
      }
    }
  }
}
