html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*general*/
a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

main {
  width: 80%;
  height: 100%;
  margin: auto;
}

.header {
  width: 75%;
  height: 700px;
  background-color: #fee1d9;
  border-radius: 30px;
  position: relative;
  margin: 50px auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav "
    "title img"
    "title img"
    "search-form img"
    "search-form img";

  &__nav {
    width: 90%;
    display: flex;
    flex: row;
    justify-content: space-between;
    grid-area: nav;
    margin: 20px auto;

    &__logo {
      font-size: 2em;
      margin: 20px auto auto 50px;
    }

    &__menu {
      display: inline-block;

      li {
        display: inline-block;
        height: 30px;
        margin: auto 15px;

        a {
          vertical-align: middle;
        }

        &:hover {
          color: white;
          background-color: #fe5c4f;
        }
      }
    }
  }

  &__title {
    grid-area: title;
    margin: auto auto 10px 100px;
    display: block;

    h1 {
      font-size: 3em;
      margin-bottom: 0;
    }

    p {
      font-size: 1.5em;
    }
  }

  &__search-form {
    margin: 0 auto auto 30px;
    grid-area: search-form;
    background-color: white;
    height: 200px;
    width: 450px;
    border: 1px black white;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
    justify-content: center;

    input {
      height: 50px;
      width: auto;
      background-color: #f9f8f7;
      margin: 20px auto auto 20px;
      border-radius: 15px;
      border: 1px #f9f8f7 solid;
    }

    &__hashtags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
      grid-area: hashtags;
      width: 70%;

      li {
        margin: auto 20px auto 0;
        font-weight: bold;
        color: grey;
        cursor: pointer;
      }
    }

    &__btn {
      height: 50px;
      width: 50px;
      float: right;
      background-color: #fe5c4f;
      border-radius: 15px;
      margin: auto;
      cursor: pointer;

      i {
        color: white;
        font-size: 1.5em;
      }
    }
  }

  &__img {
    width: 450px;
    height: 500px;
    border-radius: 15px;
    margin-right: 0;
    grid-area: img;
  }
}

/*presentation*/
.presentation {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;

  &__box {
    height: 210px;
    width: 200px;
    border-radius: 15px;
    background-color: #d7effb;
    display: inline-block;
    padding: 10px;
    line-height: 25px;

    p {
      font-weight: bold;
    }

    img {
      float: right;
      width: 100px;
      height: 100px;
    }
  }
}

/*services*/
.services {
  width: 80%;
  margin: 60px auto;
  text-align: center;

  &__title {
    text-align: center;
    margin: 0 auto 50px auto;
    font-size: 2.5em;
  }

  &__types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    margin: 0px auto;
    justify-content: center;

    &__box {
      background-color: #ffefee;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 300px;
      height: 100px;
      border-radius: 15px;
      text-align: center;
      margin: 20px 10px auto 10px;
      cursor: pointer;

      p {
        margin: auto 10px;
      }

      img {
        width: 100px;
        height: 90px;
        margin: auto 5px auto auto;
      }
    }
  }

  &__btn {
    margin: 50px auto;
    height: 60px;
    width: 200px;
    background-color: #fe5c4f;
    color: white;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
  }
}

/*agency*/
.agency {
  height: 800px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__title {
    margin: 10px auto;
    font-size: 2.5em;
  }

  &__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 750px;
    width: 90%;
    margin: 50px auto;
    background-color: #f9f8f7;

    &__img {
      border-radius: 20px;
      width: 590px;
      height: 590px;
      float: left;
    }

    &__links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 650px;

      &__field {
        width: 400px;
        height: 70px;
        background-color: white;
        flex-direction: row;
        cursor: pointer;
        border-radius: 15px;
        display: table;
        margin: 10px auto;

        p {
          display: table-cell;
          vertical-align: middle;
          margin-right: 5px;
          font-size: 1.2em;
        }

        div {
          display: table-cell;
          vertical-align: middle;
          i {
            color: #fe5c4f;
          }
        }
        &:hover {
          background-color: #fe5c4f;
          color: white;

          i {
            color: white;
          }
        }
      }
    }
  }
}

/*enquiry*/
.enquiry {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
  height: 500px;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 80%;
    float: left;
    background-color: green;

    &__title {
      text-align: left;
      margin: 150px auto 30px 100px;
      font-size: 2.5em;

      span {
        color: #fe5c4f;
      }
    }

    &__text {
      margin: auto auto 30px 100px;
    }

    &__btn {
      width: 250px;
      height: 60px;
      border-radius: 15px;
      cursor: pointer;
      margin: auto 100px;
      color: white;
      background-color: #fe5c4f;
      font-weight: bold;
    }
  }

  &__img {
    float: right;
    width: 400px;
  }
}

/*search-form*/
.search-form {
  width: 65%;
  background-color: #f9f8f7;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
  border-radius: 45px;

  &__title {
    margin: 50px auto;
    font-size: 2.5em;
  }

  &__input {
    width: 50%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__field {
      width: 200px;
      height: 50px;
      background-color: white;
      margin: auto;
      border: 1px #f9f8f7 solid;
    }

    &__btn {
      width: 50px;
      height: 50px;
      background-color: #fe5c4f;
      border-radius: 15px;
      margin: auto;

      i {
        color: white;
        font-size: 1.5em;
      }
    }
  }
}

/*agencies*/
.agencies {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;

  &__title {
    margin: 50px auto 50px;
    font-size: 2em;
  }

  &__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__card {
      height: 250px;
      width: 150px;
      border: 1px black solid;
      border-radius: 15px;
      position: relative;

      img {
        width: 150px;
        height: 250px;
        border-radius: 15px;
      }

      div {
        position: absolute;
        z-index: 1;
      }
    }
  }
}

/*footer*/
.footer {
  background-color: #343434;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  color: white;
  margin: auto;

  &__card {
    margin: auto 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;

    &__logo {
      margin: 60px auto;
      font-size: 3em;
    }

    &__icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 25%;
      margin: 30px auto 30px 0;
      text-align: left;

      .facebook i {
        color: blue;
      }

      .instagram i {
        color: red;
      }

      .linkedin {
        color: white;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: 50px auto;
    justify-content: space-between;
    text-align: center;

    &__card {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin: auto 0;

      ul {
        margin: auto;
        padding: auto;

        li {
          line-height: 40px;
          margin: auto auto;

          a {
            color: white;
          }
        }
      }
    }
  }
}

/*max-width 1024px*/
@media screen and (max-width: 1024px) {
  /*header*/
  .header {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
      margin: auto;
      width: 100%;
    }

    &__search-form {
      margin: auto;
    }

    &__img {
      margin: 20px auto;
    }
  }

  /*presentation*/
  .presentation {
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }

  /*services*/
  .services {
    width: 100%;
  }

  /*agency*/
  .agency {
    width: 95%;
    height: 750px;

    &__card {
      width: 100%;

      &__img {
        width: 400px;
        height: 500px;
      }

      &__links {
        height: 550px;

        &__field {
          height: 60px;
          width: 350px;
        }
      }
    }
  }

  /*enquiry*/
  .enquiry {
    width: 95%;

    &__card {
      height: 300px;

      &__title {
        margin: 100px auto auto 50px;
      }

      &__text_ {
        margin: 30px auto auto 50px;
      }

      &__btn {
        margin: 30px auto auto 50px;
      }
    }
  }

  /*search-form*/
  .search-form {
    width: 90%;

    &__input {
      width: 90%;
    }
  }

  /*agency*/
  .agencies {
    width: 100%;
    margin: auto 0 auto 0;

    &__links {
      width: 80%;
      height: 600px;
      margin: auto;
      &__card {
        margin: auto 30px;
      }
    }
  }

  .footer {
    width: 100%;
    height: auto;

    &__links {
      flex-direction: column;
      text-align: center;
    }
  }
}
