html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*general*/
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

main {
  width: 80%;
  height: 100%;
  margin: auto;
}

.header {
  width: 80%;
  height: auto;
  background-color: pink;
  position: relative;
  margin: 20px auto;
}

.header__logo {
  float: left;
  margin: 20px auto auto 30px;
}

.header__menu {
  float: right;
  margin: 20px auto;
  color: red;
}

.header__menu ul {
  display: inline-block;
}

.header__menu ul li {
  display: inline-block;
}

.header__menu ul li:hover {
  border: 1px black solid;
  background-color: orange;
  height: 30px;
  color: white;
}

.header__card {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto auto 50px 30px;
}

.header__card__title {
  font-weight: bold;
}

.header__card__search-form {
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  height: auto;
}

.header__img {
  width: 300px;
  height: 500px;
  border-radius: 15px;
}

.presentation {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.presentation__box {
  height: 250px;
  width: 250px;
  border-radius: 15px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.services {
  width: 80%;
  margin: 60px auto;
}

.services__title {
  text-align: center;
  margin: 0 auto 50px auto;
}

.services__types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  height: auto;
  margin: 0px auto;
}

.services__types__box {
  background-color: pink;
  background-origin: 1px pink solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px;
  height: 120px;
  border-radius: 15px;
  text-align: center;
  margin: 20px auto;
}

.services__btn {
  margin: auto;
  height: 60px;
  width: 200px;
  background-color: #f18a5a;
  color: white;
  text-align: center;
  border-radius: 15px;
}

.agency {
  background-color: grey;
  height: 800px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.agency__title {
  margin: 10px auto;
}

.agency__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 90%;
  margin: auto;
}

.agency__card__img {
  border-radius: 45px;
  width: 500px;
  height: 500px;
  float: left;
}

.agency__card__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.agency__card__links__field {
  width: 400px;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.agency__card__links__field div {
  float: right;
}

.agency__card__links__field div i {
  color: #f18a5a;
}

.agency__card__links:hover {
  background-color: #f18a5a;
  color: white;
}

.enquiry {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
  height: 500px;
}

.enquiry__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 80%;
  float: left;
  margin: auto;
}

.enquiry__card__title {
  text-align: left;
}

.enquiry__card__title span {
  color: #f18a5a;
}

.enquiry__card__btn {
  width: 250px;
  height: 60px;
  border: 1px black solid;
  border-radius: 15px;
  cursor: pointer;
  border: 1px black solid;
  margin: auto;
  color: white;
  background-color: #f18a5a;
}

.enquiry__card:hover {
  background-color: #3d6436;
}

.enquiry__img {
  float: right;
}

.search-form {
  width: 70%;
  background-color: grey;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  border-radius: 15px;
}

.search-form__title {
  margin: 50px auto;
}

.search-form__input {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-form__input__field {
  width: 120px;
  height: 40px;
  background-color: white;
}

.agencies {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;
}

.agencies__title {
  margin: 50px auto 50px;
}

.agencies__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.agencies__links__card {
  height: 250px;
  width: 150px;
  border: 1px black solid;
  border-radius: 15px;
}

.agencies__links__card img {
  width: 150px;
  height: 250px;
  border-radius: 15px;
}

.footer {
  background-color: rgba(56, 39, 39, 0.836);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  color: white;
  margin: auto;
}

.footer__card {
  margin: auto 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 30%;
}

.footer__card__logo {
  margin: 60px auto;
  font-size: 3em;
}

.footer__card__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  margin: 30px auto 30px 0;
  text-align: left;
}

.footer__links {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: 50px auto;
  justify-content: space-between;
}

.footer__links__card {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer__links__card ul {
  margin: auto 0;
}

.footer__links__card ul li {
  line-height: 40px;
  margin: auto 0;
}

.footer__links__card ul li a {
  color: white;
}
