html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*general*/
a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

main {
  width: 80%;
  height: 100%;
  margin: auto;
}

/*header*/
.header {
  width: 75%;
  height: 700px;
  background-color: #fee1d9;
  border-radius: 30px;
  position: relative;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "nav nav " "title img" "title img" "search-form img" "search-form img";
}

.header__nav {
  width: 90%;
  display: flex;
  flex: row;
  justify-content: space-between;
  grid-area: nav;
  margin: 20px auto;
}

.header__nav label i {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
}

.header__nav__logo {
  width: 130px;
  height: 80px;
  float: left;
}

.header__nav__menu {
  margin: 30px 0 auto auto;
}

.header__nav__menu li {
  display: inline-block;
  margin: auto 15px;
  cursor: pointer;
}

.header__nav__menu li a {
  margin: auto;
  border-radius: 5px;
  font-size: 17px;
  padding: 7px 13px;
}

.header__nav__menu li a.active,
.header__nav__menu li a:hover {
  color: white;
  transition: 0.5s;
  background-color: #fe5c4f;
  transition: 0.5s;
}

.header__title {
  grid-area: title;
  margin: auto auto 10px 100px;
  display: block;
}

.header__title h1 {
  font-size: 3em;
  margin-bottom: 0;
}

.header__title p {
  font-size: 1.5em;
}

.header__search-form {
  margin: 0 auto auto 30px;
  grid-area: search-form;
  background-color: white;
  height: 200px;
  width: 450px;
  border: 1px black white;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 30px;
  justify-content: center;
}

.header__search-form input {
  height: 50px;
  width: auto;
  background-color: #f9f8f7;
  margin: 20px auto auto 20px;
  border-radius: 15px;
  border: 1px #f9f8f7 solid;
}

.header__search-form__hashtags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  width: 70%;
}

.header__search-form__hashtags li {
  margin: auto 20px auto 0;
  font-weight: bold;
  color: grey;
  cursor: pointer;
}

.header__search-form__btn {
  height: 50px;
  width: 50px;
  float: right;
  background-color: #fe5c4f;
  border-radius: 15px;
  margin: auto;
  cursor: pointer;
}

.header__search-form__btn i {
  color: white;
  font-size: 1.5em;
}

.header__img {
  width: 450px;
  height: 500px;
  border-radius: 15px;
  margin-right: 0;
  grid-area: img;
}

/*presentation*/
.presentation {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;
}

.presentation__box {
  height: 210px;
  width: 200px;
  border-radius: 15px;
  background-color: #d7effb;
  display: inline-block;
  padding: 10px;
  line-height: 25px;
}

.presentation__box p {
  font-weight: bold;
}

.presentation__box img {
  float: right;
  width: 100px;
  height: 100px;
}

/*services*/
.services {
  width: 80%;
  margin: 60px auto;
  text-align: center;
}

.services__title {
  text-align: center;
  margin: 0 auto 50px auto;
  font-size: 2.5em;
}

.services__types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  height: auto;
  margin: 0px auto;
  justify-content: center;
}

.services__types__box {
  background-color: #ffefee;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px;
  height: 100px;
  border-radius: 15px;
  text-align: center;
  margin: 20px 10px auto 10px;
  cursor: pointer;
}

.services__types__box p {
  margin: auto 10px;
}

.services__types__box img {
  width: 100px;
  height: 90px;
  margin: auto 5px auto auto;
}

.services__btn {
  margin: 50px auto;
  height: 60px;
  width: 200px;
  background-color: #fe5c4f;
  color: white;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

/*agency*/
.agency {
  height: 800px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.agency__title {
  margin: 10px auto;
  font-size: 2.5em;
}

.agency__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 750px;
  width: 90%;
  margin: 50px auto;
  background-color: #f9f8f7;
}

.agency__card__img {
  border-radius: 20px;
  width: 590px;
  height: 590px;
  float: left;
}

.agency__card__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 650px;
}

.agency__card__links__field {
  width: 400px;
  height: 70px;
  background-color: white;
  flex-direction: row;
  cursor: pointer;
  border-radius: 15px;
  display: table;
  margin: 10px auto;
}

.agency__card__links__field p {
  display: table-cell;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 1.2em;
}

.agency__card__links__field div {
  display: table-cell;
  vertical-align: middle;
}

.agency__card__links__field div i {
  color: #fe5c4f;
}

.agency__card__links__field:hover {
  background-color: #fe5c4f;
  color: white;
}

.agency__card__links__field:hover i {
  color: white;
}

/*enquiry*/
.enquiry {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
  height: 500px;
}

.enquiry__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 80%;
  float: left;
  background-color: green;
}

.enquiry__card__title {
  text-align: left;
  margin: 150px auto 30px 100px;
  font-size: 2.5em;
}

.enquiry__card__title span {
  color: #fe5c4f;
}

.enquiry__card__text {
  margin: auto auto 30px 100px;
}

.enquiry__card__btn {
  width: 250px;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
  margin: auto 100px;
  color: white;
  background-color: #fe5c4f;
  font-weight: bold;
}

.enquiry__img {
  float: right;
  width: 400px;
}

/*search-form*/
.search-form {
  width: 65%;
  background-color: #f9f8f7;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
  border-radius: 45px;
}

.search-form__title {
  margin: 50px auto;
  font-size: 2.5em;
}

.search-form__input {
  width: 50%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.search-form__input__field {
  width: 200px;
  height: 50px;
  background-color: white;
  margin: auto;
  border: 1px #f9f8f7 solid;
}

.search-form__input__btn {
  width: 50px;
  height: 50px;
  background-color: #fe5c4f;
  border-radius: 15px;
  margin: auto;
}

.search-form__input__btn i {
  color: white;
  font-size: 1.5em;
}

/*agencies*/
.agencies {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;
}

.agencies__title {
  margin: 50px auto 50px;
  font-size: 2em;
}

.agencies__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.agencies__links .paris {
  background: url("ressources/34297bc08c40c85386e6e0496e85e687");
  background-size: cover;
}

.agencies__links .lyon {
  background: url("ressources/5e95c4c7fb50ddfd271c54e63f565b4e");
  background-size: cover;
}

.agencies__links .nice {
  background: url("ressources/1c6c8e18f691900d46432c7a8d7ff68f");
  background-size: cover;
}

.agencies__links .caen {
  background: url("ressources/9290084f7791a15b4cc8248d1d7d4271");
  background-size: cover;
}

.agencies__links .grenobles {
  background: url("ressources/5ef938a3a3f2a397d4ddf8e03fcbc971");
  background-size: cover;
}

.agencies__links .rennes {
  background: url("ressources/20e80c1f06cae02c312e7fbbe207e7a8");
  background-size: cover;
}

.agencies__links__card {
  height: 250px;
  width: 150px;
  border: 1px #2e2626 solid;
  border-radius: 15px;
  text-align: center;
}

.agencies__links__card img {
  width: 150px;
  height: 250px;
  border-radius: 15px;
}

.agencies__links__card p {
  margin: 215px auto 10px auto;
  font-size: 1.25em;
  color: white;
  font-weight: bold;
}

/*footer*/
.footer {
  background-color: #343434;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 400px;
  color: white;
  margin: auto;
}

.footer__links {
  flex-direction: column;
  display: flex;
  width: 30%;
}

.footer__links__logo {
  margin: 100px auto 0 80px;
  width: 220px;
  height: 80px;
}

.footer__links__adress {
  margin: 30px auto;
}

.footer__links__icons {
  width: 50%;
  margin: 30px auto;
  padding-right: 10px;
}

.footer__links__icons .facebook i {
  color: blue;
  margin-right: 20px;
}

.footer__links__icons .instagram i {
  color: red;
  margin-right: 20px;
}

.footer__links__icons .linkedin i {
  color: white;
  margin-right: 20px;
}

.footer__links__copyright {
  margin: 30px auto auto 100px;
}

.footer__about, .footer__infos, .footer__search {
  width: 15%;
  margin: 50px auto;
  line-height: 40px;
}

.footer__about li a, .footer__infos li a, .footer__search li a {
  color: white;
}

/*max-width 1024px*/
@media screen and (max-width: 1024px) {
  /*header*/
  .header {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__nav__menu {
    display: none;
  }
  .header__title {
    margin: auto;
    width: 100%;
  }
  .header__search-form {
    margin: auto;
  }
  .header__img {
    margin: 20px auto;
  }
  /*presentation*/
  .presentation {
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }
  /*services*/
  .services {
    width: 100%;
  }
  /*agency*/
  .agency {
    width: 95%;
    height: 750px;
  }
  .agency__card {
    width: 100%;
  }
  .agency__card__img {
    width: 400px;
    height: 500px;
  }
  .agency__card__links {
    height: 550px;
  }
  .agency__card__links__field {
    height: 60px;
    width: 350px;
  }
  /*enquiry*/
  .enquiry {
    width: 95%;
  }
  .enquiry__card {
    height: 300px;
  }
  .enquiry__card__title {
    margin: 100px auto auto 50px;
  }
  .enquiry__card__text_ {
    margin: 30px auto auto 50px;
  }
  .enquiry__card__btn {
    margin: 30px auto auto 50px;
  }
  /*search-form*/
  .search-form {
    width: 90%;
  }
  .search-form__title {
    font-size: 2.2em;
  }
  .search-form__input {
    width: 90%;
  }
  /*agencies*/
  .agencies {
    width: 100%;
    margin: auto 0 auto 0;
    text-align: center;
  }
  .agencies__title {
    margin-bottom: 20px;
    font-size: 1.5em;
    width: 75%;
  }
  .agencies__links {
    width: 80%;
    height: 600px;
    margin: auto;
  }
  .agencies__links__card {
    margin: auto 30px;
  }
  .footer {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .footer__links {
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 10px auto;
  }
  .footer__links__logo, .footer__links__adress, .footer__links__icons, .footer__links__copyright {
    margin: auto;
  }
  .footer__about, .footer__infos, .footer__search {
    margin: auto;
    width: 45%;
  }
}

/*max-width 768px*/
@media screen and (max-width: 768px) {
  .presentation__box {
    margin: 10px auto;
  }
  /*services*/
  .services__types__box {
    width: 250px;
  }
  /*agency*/
  .agency {
    height: auto;
  }
  .agency__card {
    flex-direction: column;
    height: auto;
  }
  .agency__card__img {
    margin: 20px auto;
  }
  /*enquiry*/
  .enquiry {
    flex-direction: column-reverse;
    height: auto;
    width: 70%;
  }
  .enquiry__card {
    height: auto;
    float: none;
    margin: auto;
    text-align: center;
    width: 50%;
  }
  .enquiry__card__title {
    margin: 30px auto;
    text-align: center;
  }
  .enquiry__card__text {
    margin-right: auto;
  }
  .enquiry__card__btn {
    margin: auto;
  }
  .enquiry__card__img {
    margin: 10px auto;
  }
  /*agencies*/
  .agencies__links {
    width: 100%;
    height: auto;
  }
  .agencies__links__card {
    margin: 10px;
  }
}

/*max-width 576px*/
@media screen and (max-width: 576px) {
  /*header*/
  main {
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 20px auto;
  }
  .header__nav {
    display: none;
  }
  .header__title {
    width: 90%;
    margin-top: auto;
  }
  .header__search-form {
    width: 300px;
    margin: auto;
  }
  .header__search-form input {
    width: 120px;
  }
  .header__search-form__hashtags li {
    margin: auto 0;
  }
  .header__img {
    width: 300px;
    height: 450px;
    margin: 20px auto;
  }
  /*agency*/
  .agency {
    margin: auto;
  }
  .agency__card__img {
    width: 300px;
    height: 410px;
  }
  .agency__card__links__field {
    width: 300px;
  }
  /*enquiry*/
  .enquiry__img {
    float: none;
    margin: auto;
    width: 300px;
  }
  /*search-form*/
  .search-form__input__field {
    width: 100px;
  }
}
